canvas {
    border: 1px solid white;
    width: 90vmin;
    height: 90vmin;
    max-width: 500px;
    max-height: 500px;
    background-color: white;
}
textarea {
  width: 90vmin;
  max-width: 500px;
  height: 300px;
  color: black;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}